[aws]
aws_conn_id = aws_default
aws_region = eu-north-1
aws_data_bucket_name = yojanbuckettaxidata
aws_script_bucket_name= yojanscriptbucket

[glue]
glue_database = taxidatabase
glue_table=etl_taxi_raw_data
glue_table_processed=etl_taxi_data_processed
glue_job_name=nyc_taxi_data_processing
glue_crawler = taxidatacrawler
iam_role = example_I_am_role
s3_input_target_path = s3://yojanbuckettaxidata/taxi_raw_data/
s3_output_target_path=s3://yojanbuckettaxidata/taxi_data_processed/
s3_script_location=s3://yojanscriptbucket/taxi_code/transform_data.py
